.header {
    height: 600px;
    background-image: url(images/banner/banner1.png)
}

.failure-container {
    display: flex;
}

.failure-detail {
    padding-top: 300px;
}

.plans-container {
    display: flex;
    margin-left: 300px;
    padding: 20px;
    border: 20px;
    text-align: center;
}

.positive {
    height: 300px;
    background-image: url(images/watch.png)
}

.positive {
    background-repeat: no-repeat
}

.footer-container {
    display: flex;
    background-color: rgb(5, 5, 5);
    color: white; 
    justify-content: space-around;
}


.icons {
    display: flex;

}

.icons a {
    margin-right: 10px;

}

.positive {
    margin-bottom: 60px;
}

.header {
    text-align: Right;
    padding-top: 200px;
}

.footer-left {
    padding: 50px;
}
.footer-right{
    padding:50px
}

.footer-button1{
    padding: 5px 80px 5px 5px;
}
.footer-button2{
    padding: 10px;
color: orangered;}
#call{padding:20px}
.myplan{margin-right: 50px}
#contact{padding:20px; border-radius: 3px; color:white; background-color: orangered;}